html, body {
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
}

.container {
    margin: 0px;
    padding: 0px;
    height: 100%;
    max-width: 100vw;
}

/* NAVBAR STYLING */

.navbar {
    width: 100vw;
    background-color: #5603AD;
    text-align: center;
    padding: 8px 0px;

    position: fixed;
    top: 0;
    z-index: 1;
}

.navbar-brand {
    text-decoration: none;
    color: #F0FFF1;
    font-weight: 700;
    font-size: 28px;
}

/* CONTENT STYLING */

.content {
    padding: 36px;
}

.headline {
    font-weight: 800;
    font-size: 48px;

    margin-top: 80px;
}

.heading {
    font-weight: 700;
    font-size: 36px;

    margin-top: 100px;
}

.para {
    font-size: 24px;
}

.fade-in {
    opacity: 0;
    transition: opacity 500ms ease-in;
}

.fade-in.appear {
    opacity: 1;
}

.para a:hover {
    font-weight: 700;
}

/* CARD STYLING */

.card {
    border: 5px solid #5603AD;
    border-radius: 42px;
    margin-top: 100px;
    padding: 10px 36px;
    max-width: 90%;
    background-color: #F0FFF1;
}

.card .title {
    font-weight: 700;
    font-size: 32px;
}

.card .para {
    font-size: 20px;
}

/* HELP BUTTON HOVERING ANIMATION */

.help {
    animation: MoveUpDown 1.5s linear infinite;
    position: fixed;
    width: 80px;
    right: 20px;
    bottom: 100px;
  }

  #help-button {
    border: none;
    outline: none;
    background: none;
  }
  
  @keyframes MoveUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }

/* POP-UP STYLING */

#pop-up {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 2px solid black;
    border-radius: 25px;

    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 75%;
    padding: 10px 36px;
    padding-bottom: 24px;
}

#pop-up.active {
    transform: translate(-50%, -50%) scale(1);
}

.pop-up-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 28px;
}

.pop-up-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    width: 30px;
    font-size: 42px;
    color: #5603AD;
    font-weight: 800;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 100ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(86, 3, 173, 0.5);
    z-index: 9;
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

/* FOOTER STYLING */

.footer-image {
    position: fixed;
    bottom: 0;
    left: -50px;
    width: 550px;
}

.footer-image2 {
    position: fixed;
    bottom: 0;
    right: -50px;
    width: 400px;
    z-index: -2;
}

.footer {
    background-color: #5603AD;
    min-height: 20px;
    width: 100vw;
    color: #F0FFF1;
    font-weight: 600;
    font-size: 16px;
    padding: 10px 0px;

    text-align: center;

    position: fixed;

    bottom: 0;
    left: 0;
}

.subtext {
    font-size: 12px;
    margin: 0;
    margin-top: 4px;
    padding: 0;
    font-weight: 400;
}

@media screen and (min-width: 840px) {
    .headline {
        margin-top: 150px;
        margin-bottom: 400px;
    }
}