html, body {
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    height: 300%;
}

.container {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

/* NAVBAR STYLING */

.navbar {
    width: 100vw;
    background-color: #5603AD;
    text-align: center;
    padding: 8px 0px;

    position: fixed;
    top: 0;
    z-index: 1;
}

.navbar-brand {
    text-decoration: none;
    color: #F0FFF1;
    font-weight: 700;
    font-size: 28px;
}

/* CONTENT STYLING */

.content {
    padding: 36px;
}

.headline {
    font-weight: 800;
    font-size: 48px;

    margin-top: 80px;
}

.heading {
    font-weight: 700;
    font-size: 36px;

    margin-top: 100px;
}

.para {
    font-size: 24px;
}

.fade-in {
    opacity: 0;
    transition: opacity 500ms ease-in;
}

.fade-in.appear {
    opacity: 1;
}

/* HELP BUTTON HOVERING ANIMATION */

.help {
    animation: MoveUpDown 1.5s linear infinite;
    position: fixed;
    width: 80px;
    right: 20px;
    bottom: 100px;
  }
  
  @keyframes MoveUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }

/* FOOTER STYLING */

.footer-image {
    position: fixed;
    bottom: 0;
    left: -50px;
    width: 500px;
}

.footer {
    background-color: #5603AD;
    min-height: 20px;
    width: 100vw;
    color: #F0FFF1;
    font-weight: 600;
    font-size: 16px;
    padding: 10px 0px;

    text-align: center;

    position: fixed;

    bottom: 0;
    left: 0;
}

@media screen and (min-width: 840px) {
    .headline {
        margin-top: 150px;
        margin-bottom: 400px;
    }
}